.chips {
    position:relative;
    right: -135%;
    bottom: 250px;
    border: 100px;
    width: 600px;
    size: 'large';
    border-radius: 50%

}

h2 {
    font-size: 400px solid;
    color: gold;
    font-size:20px;


}